In [49]:
import pandas as pd
import numpy as np

In [50]:
df_anp = pd.read_csv('ANP2025.csv', sep=';')
df_anp

C:\Users\ribeiro.renan\AppData\Local\Temp\ipykernel_30932\3435742200.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_anp = pd.read_csv('ANP2025.csv', sep=';')

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN
2,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,DIESEL S10,01/01/2025,"6,19",NaN,R$ / litro,RAIZEN
3,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,ETANOL,01/01/2025,"5,19",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
df_rj_etanol = df_anp.loc[(df_anp['Municipio'] == 'RIO DE JANEIRO') & (df_anp['Produto'] == 'ETANOL')]
df_rj_etanol

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
1000,SE,RJ,RIO DE JANEIRO,POSTO MANÉ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,ETANOL,02/01/2025,"4,49",NaN,R$ / litro,RAIZEN
1004,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,ETANOL,02/01/2025,"4,09",NaN,R$ / litro,BRANCA
1009,SE,RJ,RIO DE JANEIRO,POSTO CATEDRAL LTDA,27.838.044/0001-41,AVENIDA MEM DE SA,55,NaN,CENTRO,20230-150,ETANOL,02/01/2025,"4,49",NaN,R$ / litro,RAIZEN
1013,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,ETANOL,02/01/2025,"4,69",NaN,R$ / litro,RAIZEN
1018,SE,RJ,RIO DE JANEIRO,AUTO POSTO ATERRO DO FLAMENGO LTDA,01.309.199/0001-05,AVENIDA INFANTO DOM HENRIQUE,S/N,NaN,FLAMENGO,20021-140,ETANOL,02/01/2025,"5,70",NaN,R$ / litro,VIBRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418188,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,ETANOL,30/06/2025,"4,19",NaN,R$ / litro,IPIRANGA
418246,SE,RJ,RIO DE JANEIRO,BARRA GAS COMERCIO E SERVICOS LTDA,11.513.372/0001-38,AVENIDA AYRTON SENNA,9201,NaN,JACAREPAGUA,22775-004,ETANOL,30/06/2025,"4,29",NaN,R$ / litro,IPIRANGA
418257,SE,RJ,RIO DE JANEIRO,CENTRO DE ABASTECIMENTO CHESSED LTDA,11.054.754/0001-40,AVENIDA AMARO CAVALCANTI,2554,A 2562 LOJA,ENGENHO DE DENTRO,20735-042,ETANOL,30/06/2025,"4,09",NaN,R$ / litro,BRANCA
418842,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,ETANOL,30/06/2025,"4,29",NaN,R$ / litro,RAIZEN
419214,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,ETANOL,30/06/2025,"4,39",NaN,R$ / litro,RAIZEN

In [52]:
df_rj_etanol['Valor de Venda'] = df_rj_etanol['Valor de Venda'].str.replace(',','.').astype(float)

C:\Users\ribeiro.renan\AppData\Local\Temp\ipykernel_30932\3668819183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj_etanol['Valor de Venda'] = df_rj_etanol['Valor de Venda'].str.replace(',','.').astype(float)

In [53]:
media_bairro_rj = df_anp_rj.groupby('Bairro')['Valor de Venda'].mean().reset_index()
media_bairro_rj = media_bairro_rj.sort_values(by='Valor de Venda', ascending=False)
media_bairro_rj

                      Bairro  Valor de Venda
73                   COTIARA        7.145417
237             SANTA IZABEL        6.960000
156                     MURY        6.886731
162  NOVA ANGRA (CUNHAMBEBE)        6.856667
174     PARQUE DAS PALMEIRAS        6.801458
..                       ...             ...
157                  MUTONDO        5.181803
64                 COLUBANDE        5.103854
44                   CAMARAO        4.994000
216               RAUL VEIGA        4.978800
4                   ABOLIÇÃO        4.427500

[285 rows x 2 columns]

In [54]:
array_valor_venda = np.array(media_bairro_rj['Valor de Venda'])

In [55]:
media = np.mean(array_valor_venda)
mediana = np.median(array_valor_venda)
q1 = np.quantile(array_valor_venda, 0.25)
q2 = np.quantile(array_valor_venda, 0.50)
q3 = np.quantile(array_valor_venda, 0.75)

In [56]:

print(f'A média é {media}')
print(f'A mediana é {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')

A média é 5.80467135108647
A mediana é 5.7700000000000005
Primeiro quartil (Q1): 5.523333333333333
Segundo quartil (Q2, Mediana): 5.7700000000000005
Terceiro quartil (Q3): 6.036

In [57]:
bairro_acima_q3 = media_bairro_rj.loc[media_bairro_rj['Valor de Venda'] > q3]
bairro_acima_q3

                      Bairro  Valor de Venda
73                   COTIARA        7.145417
237             SANTA IZABEL        6.960000
156                     MURY        6.886731
162  NOVA ANGRA (CUNHAMBEBE)        6.856667
174     PARQUE DAS PALMEIRAS        6.801458
..                       ...             ...
29                    BINGEN        6.061500
163             NOVA NITEROI        6.061275
67             CONSERVATORIA        6.050000
154                    MORIN        6.039000
30               BOA FORTUNA        6.036300

[71 rows x 2 columns]